:root {
  --color-primary-red: hsl(0, 78%, 62%);
  --color-primary-cyan: hsl(180, 62%, 55%);
  --color-primary-orange: hsl(34, 97%, 64%);
  --color-primary-blue: hsl(212, 86%, 64%);

  --color-neutral-very-dark-blue: hsl(234, 12%, 34%);
  --color-neutral-grayish-blue: hsl(229, 6%, 66%);
  --color-neutral-very-light-blue: hsl(0, 0%, 98%);

  --fw-extra-light: 200;
  --fw-regular: 400;
  --fw-semi-bold: 600;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (min-width: 200px) {
  body {
    font-size: 15px;
  }
}
